*{
    margin:0;
    padding:0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: white;
}

#header{
    display: flex;
    gap: 70px;
}

#logo{
    margin-top: 18px;
    margin-left: 40px;
}

#contact {
    display: flex;
    gap: 40px;
    margin: 10px 30px;
}

#navigation{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

#contact button{
    background-color: rgb(220, 79, 28);
    border: 2px solid rgb(220, 79, 28);
    padding: 20px 40px;
    color: white;
    font-weight:100;
}

#contact button:hover {
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.4s ease;
}
 
#contact p {
    margin-top: 20px;
    font-size: 20px;
}
#firstpage{
    background-image: url(/assets/background1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
}

#number {
    border-bottom: 3px dotted white;
    padding-bottom: 5px;
}

#navigation p:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}

#content_1{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 480px;
    gap: 40px;
    margin-left: 100px;
    margin-top: 50px;
}

#sta1{
    font-size: 70px;
    font-family: Jost ,sans-serif;
}

#sta2{
    font-size: 25px;
    font-family: Rubik, sans-serif;
    margin-top: 20px;
}

#ongoing{
    background-color: rgb(101, 201, 187);
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border: 1px solid rgb(101, 201, 187);
}

#ongoing:hover{
    background-color: transparent;
    border: 1px solid white;
    transition: all 0.4s ease;
    cursor: pointer;
}

#second_page{
    display: flex;
    padding: 60px 80px;
    background-color: rgb(252, 242, 235);
}

#content_2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-left: 150px
}

#second_page img{
    height: 464px;
    width: 636px;
}

#sta3{
    color: rgb(101, 201, 187);
    font-size: 16px;
}

#sta4{
    color: rgb(38, 59, 92);
    font-size: 46px;
}

#sta5{
    color: rgb(119, 119, 119);
    font-size: 18px;
}

#donatenow{
    background-color: rgb(241, 91, 67);
    padding: 23px 45px;
    border: 1px solid rgb(241, 91, 67);
    color: white;
    font-size: 18px;
    font-weight:bold;
}

#viewprograms{
    background-color: transparent;
    padding: 23px 45px;
    border: 1px solid rgb(241, 91, 67);
    color: rgb(241, 91, 67);
    font-size: 18px;
    font-weight: bold;
}

#donatenow:hover{
    background-color: transparent;
    border: 1px solid rgb(241, 91, 67);
    color: rgb(241, 91, 67);
    transition: all 0.4s ease;
    cursor: pointer;
}

#viewprograms:hover{
    background-color: rgb(241, 91, 67);
    border: 1px solid rgb(241, 91, 67);
    color: white;
    transition: all 0.4s ease;
    cursor: pointer;
}

#third_page{
     display: flex;
    padding: 60px 80px;
    background-color: rgb(255, 255, 255);
}

#third_page img{
    height: 544px;
    width: 636px;
}

#content_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-right: 100px;
    margin-left: 30px;
}

#sta6{
    color: rgb(101, 201, 187);
    font-size: 16px;
}

#sta7{
    color: rgb(38, 59, 92);
    font-size: 46px;
    font-family: Jost, sans-serif;
    font-weight: 600;
}

#sta8{
    font-family: Rubik, sans-serif;
    color: rgb(119, 119, 119);
    font-size: 18px;
    font-weight: 300;
}

#discovermore{
    background-color: rgb(241, 91, 67);
    padding: 23px 45px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: 1px solid rgb(241, 91, 67);
}

#discovermore:hover{
     background-color: transparent;
    border: 1px solid rgb(241, 91, 67);
    color: rgb(241, 91, 67);
    transition: all 0.4s ease;
    cursor: pointer;
}