*{
    background-color: black;
    font-family: 'JetBrains Mono', monospace;
}

#whoami{
    font-size: 16px;
    color:#807676 ;
    border-bottom: 1px solid #615c5c;
    margin: 10px 200px;
    height: 800px;
    display: flex;
    flex-direction: column;
   justify-content: center;
}

#whoami p{
    margin: 8px 0px;
}

#line-text{
    color: rgb(237, 231, 231);
}

#name{
    color: red;
}

#about{
    color: white;
    height: 400px;
    border-bottom: 1px solid #615c5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 200px;
    padding-left: 50px;
}

#about h2{
    font-weight: 200;
}

#about p{
    padding-left: 30px;
    font-weight: 10;
    color: rgb(206, 204, 204);
}

#skills{
    color: white;
    margin: 10px 200px;
    border-bottom: 1px solid #615c5c;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

#allskills{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-left: 30px;
}

#allskills p{
    border: 1px solid rgb(131, 131, 131);
    padding: 20px 50px;
}

#allskills p:hover{
    border: 1px solid rgb(220, 215, 215);
    background-color: rgb(220, 215, 215);
    color: black;
    transition: all 0.4s ease;
}

#education{
    color: white;
    border-bottom: 1px solid #615c5c;
}