*{
    background-color: black;
    font-family: 'JetBrains Mono', monospace;
}

#whoami{
    font-size: 16px;
    color:#807676 ;
    border-bottom: 1px solid #615c5c;
    margin: 10px 200px;
    height: 800px;
    display: flex;
    flex-direction: column;
   justify-content: center;
}

#whoami p{
    margin: 8px 0px;
}

#line-text{
    color: rgb(237, 231, 231);
}

#name{
    color: red;
}

#about{
    color: white;
    height: 400px;
    border-bottom: 1px solid #615c5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 200px;
    padding-left: 50px;
}

#about h2:hover{
    color: rgba(197, 0, 0, 0.828);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}


#about h2{
    font-weight: 600;
}

#about p{
    padding-left: 30px;
    font-weight: 10;
    color: rgb(206, 204, 204);
}

#skills{
    color: white;
    margin: 10px 200px;
    border-bottom: 1px solid #615c5c;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

#skills h2{
    margin-left: 60px;
}

#allskills{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-left: 30px;
}

#skills h2:hover{
    color: rgba(197, 0, 0, 0.828);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}


#allskills p{
    border: 1px solid rgb(131, 131, 131);
    padding: 20px 50px;
    margin-left: 70px;
    font-weight: 200px;
}

#allskills p:hover{
    border: 1px solid rgb(220, 215, 215);
    background-color: rgb(220, 215, 215);
    color: black;
    transition: all 0.4s ease;
    cursor: pointer;
}

#education{
    color: white;
    border-bottom: 1px solid #615c5c;
    margin: 10px 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#education h2{
    margin-bottom: 20px;
    margin-left: 60px;
}

#education h2:hover{
    color: rgba(197, 0, 0, 0.828);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

#education h4{
    margin: 10px 0px 10px 90px ;
}

#education p{
    margin: 5px 10px 5px 100px;
}

#contact{
    color: white;
    margin: 10px 200px;
    height: 350px;
    border-bottom: 1px solid #615c5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact h2:hover{
    color: rgba(197, 0, 0, 0.828);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

#contact a{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 10px;
}

#contact a:hover{
    border-bottom: 1px solid white;
    transition: all 0.4s ease;
}

#contact p{
    margin-left: 90px;
}

#contact h2{
    margin:40px 0px 40px 60px;
}

#hastag{
    color: #615c5c;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}